<div class="main user-show">
  <div class="container">
    <div class="not-scroll">
      <div class="user">
      </div>
      <div class="tab-main">
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
         <li class="tab"><a class="active" href="#test1">Test 1</a></li>
         <li class="tab"><a href="#test2">Test 2</a></li>
         <li class="tab"><a href="#test3">Test 3</a></li>
       </ul>
       <div id="test1" class="col s12">
         <p>Test 1</p>
         <% @user.posts.each do |post| %>
         <div class="posts-index-item">
           <div class="jacket-image">
             <%= image_tag("/jacket_images/#{post.content_image}", :size => "200x200") %>
           </div>
           <div class="title">
             <h2><%= link_to(post.content, "/posts/#{post.user.id}") %></h2>
           </div>
           <div class="user-name">
             <%= link_to(post.user.name, "/users/#{post.user.id}") %>
           </div>
           <div class="music">
             <%= audio_tag("/content_music/#{post.content_music}", :controls => true) %>
           </div>
         </div>
         <% end %>
       </div>
       <div id="test2" class="col s12">
         <p>Test 2</p>
       </div>
       <div id="test3" class="col s12">
         <p>Test 3</p>
       </div>
      </div>
      <div class="sub-user-image">
        <div class="user-image">
          <%= image_tag("/user_images/#{@user.image_name}", :size => "200x200") %>
          <% if @user.id == @current_user.id %>
            <%= form_tag("/users/#{@user.id}/myimage", {multipart: true}) do %>
              <div class="input-user-image">
                <p>ユーザー画像の設定</p>
                <input type="file" name="image_name">
                <input type="submit" value="投稿">
              </div>
            <% end %>
          <% end %>
          <p><%= @user.name %></p>
        </div>
        <div class="introduction">

        </div>
      </div>
    </div>
  </div>
</div>
